body {
  background-color: rgb(27, 32, 32);
  font-family: "Trebuchet MS", sans-serif;
  color: white;
}

.temp {
  background-color: rgb(65, 70, 70);
  font-family: "Trebuchet MS", sans-serif;
  color: white;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

p, h1, h2, h3, a {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.button {
  font-family: "Trebuchet MS", sans-serif;
  color: rgb(0, 256, 160);
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  
  background-color: rgba(0,0,0,0);
  border: none;
  outline-style: none;
  font-size: 1em;
  
  cursor: pointer;
}

.button:hover {
  color: rgb(256, 80, 160);
  text-decoration: underline;
}

.button:active {
  color: rgb(192, 16, 96);
  text-decoration: underline;
}

/* unvisited link */
a:link {
  color: rgb(0, 256, 256);
  text-decoration: none;
}

/* visited link.
Unused as long as we don't use cookies? */
a:visited {
  color: rgb(0, 256, 256);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: rgb(256, 0, 256);
  text-decoration: underline;
}

/* selected link */
a:active {
  color: rgb(192, 0, 192);
  text-decoration: underline;
}

.title {
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  color: orange;
}

.mainDisplay {
  font-size: 1em;
  max-width: 1000px;
  min-width: auto;
  
  border-style: hidden;
  border-radius: 5px;
  
  padding: .75em .75em .75em .75em;
  
  background: rgb(65, 70, 70);
  
  display: table;     /* I don't understand how, but this gets it to center. */
  margin: 0 auto;     /* Courtesy of romprzy at: https://stackoverflow.com/a/16950278 */   
}

/* Abstract class.
Use in tandem with ...Menu classes below.*/
.menu {
  font-size: 1.25em;
  min-width: 220px;
  
  border-style: hidden;
  border-radius: 5px;

  padding: .75em .75em 0 .75em;
  
  box-sizing: border-box;

  background: rgb(65, 70, 70);
}

/* Use in tandem with menu class. */
.leftMenu {
  float: left;
  margin: 0 30px 50px 20px;
}

/* Use in tandem with menu class. */
.rightMenu {
  float: right;
  margin: 0 20px 0 30px;
}

/* Using em to allow size to adapt to textsize. */
.subMenu {
  color: white;
  margin: 0 0 .75em 0;
}

.menuItem {
  margin: .5em 0 0 1em;
}

.menuIcon {
  float: left;
  width: 1em;
  height: 1em;
  margin: 1.3333px .175em 0 0;
}